.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: center;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
}
.rootdark {
  background: var(--token-xNv4NilEXhqh);
}
.rootmobileDarkk {
  background: var(--token-xNv4NilEXhqh);
  padding: 30px;
}
.freeBox__x1F8U {
  display: flex;
  position: relative;
  max-width: 1800px;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__x1F8U > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__x1F8U > :global(.__wab_flex-container) > *,
.freeBox__x1F8U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x1F8U > :global(.__wab_flex-container) > picture > img,
.freeBox__x1F8U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x1F8U {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x1F8U > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x1F8U > :global(.__wab_flex-container) > *,
  .freeBox__x1F8U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__x1F8U > :global(.__wab_flex-container) > picture > img,
  .freeBox__x1F8U
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBoxmobileDarkk__x1F8UGnsB {
  display: flex;
  flex-direction: column;
}
.freeBoxmobileDarkk__x1F8UGnsB > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBoxmobileDarkk__x1F8UGnsB > :global(.__wab_flex-container) > *,
.freeBoxmobileDarkk__x1F8UGnsB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxmobileDarkk__x1F8UGnsB > :global(.__wab_flex-container) > picture > img,
.freeBoxmobileDarkk__x1F8UGnsB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 64px;
}
.freeBox__wZaEk {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__wZaEk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__wZaEk > :global(.__wab_flex-container) > *,
.freeBox__wZaEk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wZaEk > :global(.__wab_flex-container) > picture > img,
.freeBox__wZaEk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBoxdark__wZaEki3Dm4 {
  width: 100%;
  min-width: 0;
}
.freeBoxdark__wZaEki3Dm4 > :global(.__wab_flex-container) {
  min-width: 0;
}
.freeBoxmobileDarkk__wZaEkGnsB {
  left: auto;
  top: auto;
}
.freeBox__rcyl5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__ic7Ch {
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
  padding-left: 0px;
  line-height: 1;
  letter-spacing: -0.5px;
}
.textdark__ic7CHi3Dm4 {
  color: var(--token-jgohepLVeKvh);
}
.textmobileDarkk__ic7ChGnsB {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__lgrO {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__lgrO > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__lgrO > :global(.__wab_flex-container) > *,
.freeBox__lgrO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lgrO > :global(.__wab_flex-container) > picture > img,
.freeBox__lgrO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___4SC0H {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___4SC0H > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___4SC0H > :global(.__wab_flex-container) > *,
.freeBox___4SC0H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4SC0H > :global(.__wab_flex-container) > picture > img,
.freeBox___4SC0H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg___7VHaK {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-VYT3CU8k-25c);
  flex-shrink: 0;
}
.svgdark___7VHaKi3Dm4 {
  color: var(--token-jgohepLVeKvh);
}
.svgmobileDarkk___7VHaKGnsB {
  color: var(--token-jgohepLVeKvh);
}
.svg__ckxmT {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-VYT3CU8k-25c);
  flex-shrink: 0;
}
.svgdark__ckxmTi3Dm4 {
  color: var(--token-jgohepLVeKvh);
}
.svgmobileDarkk__ckxmTGnsB {
  color: var(--token-jgohepLVeKvh);
}
.svg__yTqJ {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-VYT3CU8k-25c);
  flex-shrink: 0;
}
.svgdark__yTqJI3Dm4 {
  color: var(--token-jgohepLVeKvh);
}
.svgmobileDarkk__yTqJGnsB {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__v2Cs {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__v2Cs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__v2Cs > :global(.__wab_flex-container) > *,
.freeBox__v2Cs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v2Cs > :global(.__wab_flex-container) > picture > img,
.freeBox__v2Cs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBoxmobileDarkk__v2CsGnsB {
  left: auto;
  top: auto;
}
.text__dmqe {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-VYT3CU8k-25c);
  height: auto;
}
.textdark__dmqeI3Dm4 {
  color: var(--token-jgohepLVeKvh);
}
.textmobileDarkk__dmqeGnsB {
  color: var(--token-jgohepLVeKvh);
}
.button__xxlk5:global(.__wab_instance) {
  position: relative;
}
.svg___90Gkh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__l8IQe {
  height: auto;
}
.textdark__l8IQei3Dm4 {
  color: var(--token-jgohepLVeKvh);
}
.textmobileDarkk__l8IQeGnsB {
  color: var(--token-jgohepLVeKvh);
}
.svg__bygQb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__zsCvt:global(.__wab_instance) {
  position: relative;
}
.svg__xxn8M {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__wfYg {
  height: auto;
}
.textdark__wfYGi3Dm4 {
  color: var(--token-jgohepLVeKvh);
}
.textmobileDarkk__wfYgGnsB {
  color: var(--token-jgohepLVeKvh);
}
.svg__dZFxg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__uKuHw:global(.__wab_instance) {
  position: relative;
}
.svg__knXxc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__tXh1T {
  height: auto;
}
.textdark__tXh1Ti3Dm4 {
  color: var(--token-jgohepLVeKvh);
}
.textmobileDarkk__tXh1TGnsB {
  color: var(--token-jgohepLVeKvh);
}
.svg__mUf8U {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__if4Om:global(.__wab_instance) {
  position: relative;
}
.svg__eg4AS {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__yzmNu {
  height: auto;
}
.textdark__yzmNUi3Dm4 {
  color: var(--token-jgohepLVeKvh);
}
.textmobileDarkk__yzmNuGnsB {
  color: var(--token-jgohepLVeKvh);
}
.svg__wqJ7D {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__pMpXh {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__pMpXh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__pMpXh > :global(.__wab_flex-container) > *,
.freeBox__pMpXh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pMpXh > :global(.__wab_flex-container) > picture > img,
.freeBox__pMpXh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBoxmobileDarkk__pMpXhGnsB {
  left: auto;
  top: auto;
}
.text__jDdMa {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-VYT3CU8k-25c);
  height: auto;
}
.textdark__jDdMai3Dm4 {
  color: var(--token-jgohepLVeKvh);
}
.textmobileDarkk__jDdMaGnsB {
  color: var(--token-jgohepLVeKvh);
}
.button__lwZAm:global(.__wab_instance) {
  position: relative;
}
.svg__o0X39 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.textdark__hqrAki3Dm4 {
  color: var(--token-jgohepLVeKvh);
}
.textmobileDarkk__hqrAkGnsB {
  color: var(--token-jgohepLVeKvh);
}
.svg__leecw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__k3X5Z:global(.__wab_instance) {
  position: relative;
}
.svg___11Pr6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.textdark__g6GRi3Dm4 {
  color: var(--token-jgohepLVeKvh);
}
.textmobileDarkk__g6GRGnsB {
  color: var(--token-jgohepLVeKvh);
}
.svg__oKqvs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__yNnmp:global(.__wab_instance) {
  position: relative;
}
.svg__cc9BA {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.textdark__o9RQgi3Dm4 {
  color: var(--token-jgohepLVeKvh);
}
.textmobileDarkk__o9RQgGnsB {
  color: var(--token-jgohepLVeKvh);
}
.svg__yOicL {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__wPyvd {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__wPyvd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__wPyvd > :global(.__wab_flex-container) > *,
.freeBox__wPyvd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wPyvd > :global(.__wab_flex-container) > picture > img,
.freeBox__wPyvd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBoxmobileDarkk__wPyvdGnsB {
  left: auto;
  top: auto;
}
.text__s14Wo {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-VYT3CU8k-25c);
  height: auto;
}
.textdark__s14WOi3Dm4 {
  color: var(--token-jgohepLVeKvh);
}
.textmobileDarkk__s14WoGnsB {
  color: var(--token-jgohepLVeKvh);
}
.button__ml6FT:global(.__wab_instance) {
  position: relative;
}
.svg__vdcvk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.textdark__bEkmYi3Dm4 {
  color: var(--token-jgohepLVeKvh);
}
.textmobileDarkk__bEkmYGnsB {
  color: var(--token-jgohepLVeKvh);
}
.svg__bxJrj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__fjxzD:global(.__wab_instance) {
  position: relative;
}
.svg__rq7G7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.textdark__yRxpZi3Dm4 {
  color: var(--token-jgohepLVeKvh);
}
.textmobileDarkk__yRxpZGnsB {
  color: var(--token-jgohepLVeKvh);
}
.svg__hhJha {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__q93N:global(.__wab_instance) {
  position: relative;
}
.svg__x1EGy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.textdark___6WRshi3Dm4 {
  color: var(--token-jgohepLVeKvh);
}
.textmobileDarkk___6WRshGnsB {
  color: var(--token-jgohepLVeKvh);
}
.svg___9ZFpY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__zZrK:global(.__wab_instance) {
  position: relative;
}
.svg__pdTxY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.textdark__qbIqfi3Dm4 {
  color: var(--token-jgohepLVeKvh);
}
.textmobileDarkk__qbIqfGnsB {
  color: var(--token-jgohepLVeKvh);
}
.svg__shTMk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
