.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__gdh3P {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__gdh3P > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__gdh3P > :global(.__wab_flex-container) > *,
.freeBox__gdh3P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gdh3P > :global(.__wab_flex-container) > picture > img,
.freeBox__gdh3P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gdh3P {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___38VLl {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
.text__cU2Y4 {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.foreground2 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.valueProp__hfwis:global(.__wab_instance) {
  position: relative;
}
.img__ibzg5 {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__ibzg5 > picture > img {
  object-fit: cover;
}
.valueProp__aGau0:global(.__wab_instance) {
  position: relative;
}
.img___53SYz {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img___53SYz > picture > img {
  object-fit: cover;
}
.valueProp__yT9N1:global(.__wab_instance) {
  position: relative;
}
.img__iiC7 {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__iiC7 > picture > img {
  object-fit: cover;
}
.valueProp___0Moly:global(.__wab_instance) {
  position: relative;
}
.img__ulREr {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__ulREr > picture > img {
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-fyqeC-UDhvKB);
  padding: 64px 32px;
}
.foreground3 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__zIiq9 {
  display: flex;
  flex-direction: column;
}
.freeBox__zIiq9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zIiq9 > :global(.__wab_flex-container) > *,
.freeBox__zIiq9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zIiq9 > :global(.__wab_flex-container) > picture > img,
.freeBox__zIiq9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__f9Htm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}
.text__pXgwz {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
}
.freeBox__j2AT {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__j2AT > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__j2AT > :global(.__wab_flex-container) > *,
.freeBox__j2AT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j2AT > :global(.__wab_flex-container) > picture > img,
.freeBox__j2AT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  --plsmc-rc-col-gap: 48px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___9G3M9 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__s41Az:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__wIvwg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-U_HqrtqfMVpg);
  width: 28px;
  height: 28px;
}
.text__fCEfW {
  padding-left: 0px;
}
.column__ozp5B {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__x7I9N:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___2JDeR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-U_HqrtqfMVpg);
  width: 28px;
  height: 28px;
}
.text__c0SKy {
  padding-left: 0px;
}
.column__oa3Ke {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___1Ybxe:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___621 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-U_HqrtqfMVpg);
  width: 28px;
  height: 28px;
}
.text__j9Qw {
  padding-left: 0px;
}
.column__lzZu0 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__iXb6:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__fnU06 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-U_HqrtqfMVpg);
  width: 28px;
  height: 28px;
}
.text__nqvVo {
  padding-left: 0px;
}
.freeBox___0GoOz {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  padding: 64px;
}
.freeBox___0GoOz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___0GoOz > :global(.__wab_flex-container) > *,
.freeBox___0GoOz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0GoOz > :global(.__wab_flex-container) > picture > img,
.freeBox___0GoOz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0GoOz {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__xFbwm {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__xFbwm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__xFbwm > :global(.__wab_flex-container) > *,
.freeBox__xFbwm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xFbwm > :global(.__wab_flex-container) > picture > img,
.freeBox__xFbwm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__tt6FV {
  display: flex;
  flex-direction: column;
}
.freeBox__tt6FV > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__tt6FV > :global(.__wab_flex-container) > *,
.freeBox__tt6FV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tt6FV > :global(.__wab_flex-container) > picture > img,
.freeBox__tt6FV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___5Lnam {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__clq4T {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__clq4T {
    text-align: center;
  }
}
.text__k9Tk5 {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox___4Xg38 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___4Xg38 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___4Xg38 > :global(.__wab_flex-container) > *,
.freeBox___4Xg38 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4Xg38 > :global(.__wab_flex-container) > picture > img,
.freeBox___4Xg38
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4Xg38 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4Xg38 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4Xg38 > :global(.__wab_flex-container) > *,
  .freeBox___4Xg38 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___4Xg38 > :global(.__wab_flex-container) > picture > img,
  .freeBox___4Xg38
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__zjd8Q:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp___4881:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___5PBUp {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___3S4T8:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xkHL {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__l2Kq {
  height: auto;
}
.priceCard___65MFe:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__wZhP {
  color: var(--token-Oaveb5Vo7P7t);
}
.valueProp__wF5H:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__omxfz {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__isyoq:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__lBqhi {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__z6Y:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__iKn9I {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__fdUhX {
  height: auto;
}
.priceCard___8KOf5:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__td5ZW {
  color: var(--token-ItH3asNpKpJ1);
}
.valueProp__su931:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___5G3I6 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kNsQu:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vbVfD {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ePJiU:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__n6RvH {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__eGszx:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__olcMc {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__tuqoV {
  height: auto;
}
.priceCard__mNb3T:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___8FoAa {
  color: var(--token-rvqSfmjWOZ82);
}
.valueProp__vdXdN:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__f5FJv {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___7Jy11:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__lqXwo {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bYb9L:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__bok3I {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__dudaf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__lIy7G {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__x18Bs {
  height: auto;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
