.root {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  position: relative;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
  margin-top: 0px;
}
.rootshowStartIcon {
  display: flex;
}
.rootcolor2_green {
  background: #34c759;
}
.rootcolor2_indigo {
  cursor: pointer;
  flex-direction: row;
  background: #5856d6;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.rootcolor2_indigo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootcolor2_indigo > :global(.__wab_flex-container) > *,
.rootcolor2_indigo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootcolor2_indigo > :global(.__wab_flex-container) > picture > img,
.rootcolor2_indigo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.rootcolor2_blue {
  background: var(--token-YSchkpDCgUfj);
}
.rootcolor2_red {
  background: var(--token-Oaveb5Vo7P7t);
}
.rootcolor2_white {
  background: var(--token-U_HqrtqfMVpg);
}
.rootcolor2_darkGray {
  background: var(--token-DCdvkuPS_N0b);
}
.rooticonOnly {
  padding-top: 11px;
  padding-bottom: 11px;
}
.rootoutline {
  border: 1px solid var(--token-Arh8ri1fUo9M);
}
.rootbgDifference {
  mix-blend-mode: difference;
}
.rootround {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 24px;
}
.rootflat {
  padding: 0px;
}
.rootextraSmallShadow {
  box-shadow: 0px 1px 1px 1px #0000001a;
}
.rootisDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.rootunderline {
  border-bottom-color: transparent;
}
.root:hover {
  background: var(--token-0U81vTZs--Nk);
}
.rootcolor2_green:hover {
  background: #40e569;
}
.rootcolor2_indigo:hover {
  background: #5e5ce6;
}
.rootcolor2_blue:hover {
  background: #1a88ff;
}
.rootcolor2_red:hover {
  background: #fd5046;
}
.rootcolor2_darkGray:hover {
  background: var(--token-VYT3CU8k-25c);
}
.root:focus {
  box-shadow: 0px 0px 0px 4px #0095ff80;
  outline: none;
}
.root:hover:active {
  background: none;
  border-bottom-color: var(--token-jgohepLVeKvh);
}
.slotTargetStartIcon {
  color: var(--token-DCdvkuPS_N0b);
}
.slotTargetStartIconcolor2_green {
  color: var(--token-U_HqrtqfMVpg);
}
.slotTargetStartIconcolor2_indigo {
  color: var(--token-U_HqrtqfMVpg);
}
.slotTargetStartIconcolor2_blue {
  color: var(--token-U_HqrtqfMVpg);
}
.slotTargetStartIconcolor2_red {
  color: var(--token-U_HqrtqfMVpg);
}
.slotTargetStartIconcolor2_white {
  color: var(--token-DCdvkuPS_N0b);
}
.slotTargetStartIconcolor2_darkGray {
  color: var(--token-E0IsGDlWmLd5);
}
.slotTargetStartIconcolor2_link {
  color: var(--token-YSchkpDCgUfj);
}
.svg___4OZg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
}
.slotTargetChildren {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  white-space: pre;
}
.slotTargetChildrencolor2_green {
  color: var(--token-U_HqrtqfMVpg);
}
.slotTargetChildrencolor2_indigo {
  color: var(--token-U_HqrtqfMVpg);
}
.slotTargetChildrencolor2_blue {
  color: var(--token-U_HqrtqfMVpg);
}
.slotTargetChildrencolor2_red {
  color: var(--token-U_HqrtqfMVpg);
}
.slotTargetChildrencolor2_darkGray {
  color: var(--token-E0IsGDlWmLd5);
}
.slotTargetChildrencolor2_link {
  color: var(--token-YSchkpDCgUfj);
}
.slotTargetChildrencolor2_navLink {
  font-weight: 400;
  color: var(--token-VYT3CU8k-25c);
}
.slotTargetChildrencolor2_whiteClear {
  color: var(--token-jgohepLVeKvh);
}
.slotTargetChildrenlarge {
  font-size: 24px;
  line-height: 1.5em;
}
.rootcolor2_navLink:hover .slotTargetChildrencolor2_navLink {
  color: var(--token-DCdvkuPS_N0b);
}
.rootcolor2_navLink:hover
  .slotTargetChildrencolor2_navLink
  > :global(.__wab_text),
.rootcolor2_navLink:hover
  .slotTargetChildrencolor2_navLink
  > :global(.__wab_expr_html_text),
.rootcolor2_navLink:hover
  .slotTargetChildrencolor2_navLink
  > :global(.__wab_slot-string-wrapper),
.rootcolor2_navLink:hover
  .slotTargetChildrencolor2_navLink
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor2_navLink:hover
  .slotTargetChildrencolor2_navLink
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolor2_navLink:hover
  .slotTargetChildrencolor2_navLink
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.rootcolor2_navLink:hover
  .slotTargetChildrencolor2_navLink
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor2_navLink:hover
  .slotTargetChildrencolor2_navLink
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolor2_navLink:hover
  .slotTargetChildrencolor2_navLink
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.rootcolor2_navLink:hover
  .slotTargetChildrencolor2_navLink
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor2_navLink:hover
  .slotTargetChildrencolor2_navLink
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolor2_navLink:hover
  .slotTargetChildrencolor2_navLink
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: underline;
}
.root:hover:active .slotTargetChildren {
  color: var(--token-jgohepLVeKvh);
}
.slotTargetEndIcon {
  color: var(--token-DCdvkuPS_N0b);
}
.slotTargetEndIconcolor2_green {
  color: var(--token-U_HqrtqfMVpg);
}
.slotTargetEndIconcolor2_indigo {
  color: var(--token-U_HqrtqfMVpg);
}
.slotTargetEndIconcolor2_blue {
  color: var(--token-U_HqrtqfMVpg);
}
.slotTargetEndIconcolor2_red {
  color: var(--token-U_HqrtqfMVpg);
}
.slotTargetEndIconcolor2_white {
  color: var(--token-DCdvkuPS_N0b);
}
.slotTargetEndIconcolor2_darkGray {
  color: var(--token-E0IsGDlWmLd5);
}
.slotTargetEndIconcolor2_link {
  color: var(--token-YSchkpDCgUfj);
}
.svg___0AYaX {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
}
