.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #000000;
  min-width: 0;
  min-height: 0;
}
.freeBox__iUmsD {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 16px;
}
.navbar__lzZwy:global(.__wab_instance) {
  max-width: 100%;
}
.navbar___6EU4G:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  align-self: flex-start;
}
.cmsDataFetcher__jI0Sp:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 80%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox__qKa1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 16px;
}
.freeBox__qKa1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__qKa1 > :global(.__wab_flex-container) > *,
.freeBox__qKa1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qKa1 > :global(.__wab_flex-container) > picture > img,
.freeBox__qKa1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.h4__xsfl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-9ftvKiByok63);
  min-width: 0;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.h4__q7YDg {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.freeBox___8CIxF {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___8CIxF > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___8CIxF > :global(.__wab_flex-container) > *,
.freeBox___8CIxF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8CIxF > :global(.__wab_flex-container) > picture > img,
.freeBox___8CIxF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.h6__dGjQi {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
}
.h6__i4YRd {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.freeBox__lf5Cf {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__lf5Cf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__lf5Cf > :global(.__wab_flex-container) > *,
.freeBox__lf5Cf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lf5Cf > :global(.__wab_flex-container) > picture > img,
.freeBox__lf5Cf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  width: auto;
  height: 100%;
  min-height: 0;
}
.h6__dGcg {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.video:global(.__wab_instance) {
  position: relative;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  color: var(--token-jgohepLVeKvh);
}
.text__dFiuV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__cCkN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__pJlto {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 70%;
  min-width: 0;
  padding: 20px;
}
.freeBox__pJlto > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__pJlto > :global(.__wab_flex-container) > *,
.freeBox__pJlto > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pJlto > :global(.__wab_flex-container) > picture > img,
.freeBox__pJlto
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.cmsDataFetcher__nVpo:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: row;
  object-fit: cover;
  position: relative;
  flex-wrap: wrap;
  align-items: stretch;
  padding-bottom: 100px;
  min-width: 0;
  column-gap: 10px;
  row-gap: 10px;
}
.freeBox__yTn75 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.freeBox__yTn75 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__yTn75 > :global(.__wab_flex-container) > *,
.freeBox__yTn75 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yTn75 > :global(.__wab_flex-container) > picture > img,
.freeBox__yTn75
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.blogCardLeft__i6Hdt:global(.__wab_instance) {
  max-width: 80%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___1H5Q5 {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
  min-height: 0;
  display: none;
}
.freeBox__wacd4 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: row;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__ll388 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: var(--token-pyhDq7s0RTkz);
  text-align: left;
  min-width: 0;
}
.text___36NJp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: var(--token-pyhDq7s0RTkz);
  text-align: right;
  min-width: 0;
}
.text__c73MN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.text__lkbDw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: var(--token-pyhDq7s0RTkz);
  min-width: 0;
}
.text__xuSHo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.blogCardLeft__c0DNn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__s1Sol {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
  min-height: 0;
  display: none;
}
.freeBox__hnae2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: row;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__mgATa {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: var(--token-pyhDq7s0RTkz);
  text-align: left;
  min-width: 0;
}
.text___4IQxd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: var(--token-pyhDq7s0RTkz);
  text-align: right;
  min-width: 0;
}
.text___0WsFg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.text__hDbcI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: var(--token-pyhDq7s0RTkz);
  min-width: 0;
}
.text___4UR5F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.callToActionSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__bwWuK {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__bwWuK > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__bwWuK > :global(.__wab_flex-container) > *,
.freeBox__bwWuK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bwWuK > :global(.__wab_flex-container) > picture > img,
.freeBox__bwWuK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__pKu9J {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-E0IsGDlWmLd5);
}
.text__sS3M {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-E0IsGDlWmLd5);
  line-height: 1;
}
.text__mSlMz {
  font-size: 20px;
  color: var(--token-fT98I4nMek3C);
  line-height: 28px;
}
.freeBox__fyzJu {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__fyzJu > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fyzJu > :global(.__wab_flex-container) > *,
.freeBox__fyzJu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fyzJu > :global(.__wab_flex-container) > picture > img,
.freeBox__fyzJu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__aAAla:global(.__wab_instance) {
  position: relative;
}
.svg__nObUk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___1QQjo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___1TbV4:global(.__wab_instance) {
  position: relative;
}
.svg__vQj18 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__iFGrk {
  height: auto;
  font-weight: 400;
}
.svg___8A7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
.text__rFtLl {
  position: relative;
}
