@import url("https://fonts.googleapis.com/css2?family=Poppins%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-rvqSfmjWOZ82: #007aff;
  --plasmic-token-blue: var(--token-rvqSfmjWOZ82);
  --token-t6-EceW3Iy35: 1080px;
  --plasmic-token-content-max-width: var(--token-t6-EceW3Iy35);
  --token-0U81vTZs--Nk: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-0U81vTZs--Nk);
  --token-Arh8ri1fUo9M: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-Arh8ri1fUo9M);
  --token-DCdvkuPS_N0b: #000000d9;
  --plasmic-token-light-label: var(--token-DCdvkuPS_N0b);
  --token-VYT3CU8k-25c: #05050599;
  --plasmic-token-light-secondary: var(--token-VYT3CU8k-25c);
  --token-YSchkpDCgUfj: #007aff;
  --plasmic-token-light-blue: var(--token-YSchkpDCgUfj);
  --token-Oaveb5Vo7P7t: #ff3b30;
  --plasmic-token-light-red: var(--token-Oaveb5Vo7P7t);
  --token-U_HqrtqfMVpg: #ffffff;
  --plasmic-token-white: var(--token-U_HqrtqfMVpg);
  --token-E0IsGDlWmLd5: #ffffffd9;
  --plasmic-token-dark-label: var(--token-E0IsGDlWmLd5);
  --token-fT98I4nMek3C: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-fT98I4nMek3C);
  --token-54Zu1jSXOFgl: #0000001a;
  --plasmic-token-light-quarternary: var(--token-54Zu1jSXOFgl);
  --token-PHaAyVJD20_G: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-PHaAyVJD20_G);
  --token-CxXLFDmBsw3X: #32d74b;
  --plasmic-token-dark-green: var(--token-CxXLFDmBsw3X);
  --token-9ftvKiByok63: #0a84ff;
  --plasmic-token-dark-blue: var(--token-9ftvKiByok63);
  --token-C2j4U5KAfB5O: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-C2j4U5KAfB5O);
  --token-ItH3asNpKpJ1: #34c759;
  --plasmic-token-light-green: var(--token-ItH3asNpKpJ1);
  --token-fyqeC-UDhvKB: #5856d6;
  --plasmic-token-light-indigo: var(--token-fyqeC-UDhvKB);
  --token-xNv4NilEXhqh: #000000;
  --plasmic-token-daply-dark: var(--token-xNv4NilEXhqh);
  --token-QOTKBU5U2dd3: #1c1c1c;
  --plasmic-token-light-black: var(--token-QOTKBU5U2dd3);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-Sw3ohjufIOrP_font-family: "Poppins", sans-serif;
  --mixin-Sw3ohjufIOrP_font-size: 16px;
  --mixin-Sw3ohjufIOrP_font-weight: 400;
  --mixin-Sw3ohjufIOrP_font-style: normal;
  --mixin-Sw3ohjufIOrP_color: var(--token-DCdvkuPS_N0b);
  --mixin-Sw3ohjufIOrP_text-align: left;
  --mixin-Sw3ohjufIOrP_text-transform: none;
  --mixin-Sw3ohjufIOrP_line-height: 1.5;
  --mixin-Sw3ohjufIOrP_letter-spacing: normal;
  --mixin-Sw3ohjufIOrP_white-space: pre-wrap;
  --mixin-Sw3ohjufIOrP_user-select: text;
  --mixin-Sw3ohjufIOrP_text-decoration-line: none;
  --mixin-Sw3ohjufIOrP_text-overflow: clip;
  --mixin-WVIJ8cwCLjhu_white-space: pre-wrap;
  --mixin-TnLZ72J1hO-L_font-family: "Poppins", sans-serif;
  --mixin-TnLZ72J1hO-L_color: #000000;
  --mixin-TnLZ72J1hO-L_font-size: 45px;
  --mixin-TnLZ72J1hO-L_font-weight: 900;
  --mixin-TnLZ72J1hO-L_letter-spacing: -1px;
  --mixin-TnLZ72J1hO-L_line-height: 1;
  --mixin-TnLZ72J1hO-L_white-space: pre-wrap;
  --mixin-DIR4ndJezlOB_font-family: "Inter", sans-serif;
  --mixin-DIR4ndJezlOB_color: #000000;
  --mixin-DIR4ndJezlOB_font-size: 32px;
  --mixin-DIR4ndJezlOB_font-weight: 600;
  --mixin-DIR4ndJezlOB_letter-spacing: -0.8px;
  --mixin-DIR4ndJezlOB_line-height: 1.2;
  --mixin-DIR4ndJezlOB_white-space: pre-wrap;
  --mixin-o2tyqGtcTQan_font-family: "Inter", sans-serif;
  --mixin-o2tyqGtcTQan_color: #000000;
  --mixin-o2tyqGtcTQan_font-size: 24px;
  --mixin-o2tyqGtcTQan_font-weight: 600;
  --mixin-o2tyqGtcTQan_letter-spacing: -0.5px;
  --mixin-o2tyqGtcTQan_line-height: 1.3;
  --mixin-o2tyqGtcTQan_white-space: pre-wrap;
  --mixin-1FrTAXXngIZr_font-family: "Inter", sans-serif;
  --mixin-1FrTAXXngIZr_color: #000000;
  --mixin-1FrTAXXngIZr_font-size: 20px;
  --mixin-1FrTAXXngIZr_font-weight: 600;
  --mixin-1FrTAXXngIZr_letter-spacing: -0.3px;
  --mixin-1FrTAXXngIZr_line-height: 1.5;
  --mixin-1FrTAXXngIZr_white-space: pre-wrap;
  --mixin-HK3wvx0ntYCa_font-family: "Inter", sans-serif;
  --mixin-HK3wvx0ntYCa_color: #000000;
  --mixin-HK3wvx0ntYCa_font-size: 16px;
  --mixin-HK3wvx0ntYCa_font-weight: 600;
  --mixin-HK3wvx0ntYCa_line-height: 1.5;
  --mixin-HK3wvx0ntYCa_white-space: pre-wrap;
  --mixin-XWvoqudYOApu_border-left-color: #dddddd;
  --mixin-XWvoqudYOApu_border-left-style: solid;
  --mixin-XWvoqudYOApu_border-left-width: 3px;
  --mixin-XWvoqudYOApu_color: #888888;
  --mixin-XWvoqudYOApu_padding-left: 10px;
  --mixin-XWvoqudYOApu_white-space: pre-wrap;
  --mixin-5NYHzsmq3cKM_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-5NYHzsmq3cKM_border-bottom-color: #dddddd;
  --mixin-5NYHzsmq3cKM_border-bottom-style: solid;
  --mixin-5NYHzsmq3cKM_border-bottom-width: 1px;
  --mixin-5NYHzsmq3cKM_border-left-color: #dddddd;
  --mixin-5NYHzsmq3cKM_border-left-style: solid;
  --mixin-5NYHzsmq3cKM_border-left-width: 1px;
  --mixin-5NYHzsmq3cKM_border-right-color: #dddddd;
  --mixin-5NYHzsmq3cKM_border-right-style: solid;
  --mixin-5NYHzsmq3cKM_border-right-width: 1px;
  --mixin-5NYHzsmq3cKM_border-top-color: #dddddd;
  --mixin-5NYHzsmq3cKM_border-top-style: solid;
  --mixin-5NYHzsmq3cKM_border-top-width: 1px;
  --mixin-5NYHzsmq3cKM_border-bottom-left-radius: 3px;
  --mixin-5NYHzsmq3cKM_border-bottom-right-radius: 3px;
  --mixin-5NYHzsmq3cKM_border-top-left-radius: 3px;
  --mixin-5NYHzsmq3cKM_border-top-right-radius: 3px;
  --mixin-5NYHzsmq3cKM_font-family: "Inconsolata";
  --mixin-5NYHzsmq3cKM_padding-bottom: 1px;
  --mixin-5NYHzsmq3cKM_padding-left: 4px;
  --mixin-5NYHzsmq3cKM_padding-right: 4px;
  --mixin-5NYHzsmq3cKM_padding-top: 1px;
  --mixin-5NYHzsmq3cKM_white-space: pre-wrap;
  --mixin-FiiUyfY_npiL_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-FiiUyfY_npiL_border-bottom-color: #dddddd;
  --mixin-FiiUyfY_npiL_border-bottom-style: solid;
  --mixin-FiiUyfY_npiL_border-bottom-width: 1px;
  --mixin-FiiUyfY_npiL_border-left-color: #dddddd;
  --mixin-FiiUyfY_npiL_border-left-style: solid;
  --mixin-FiiUyfY_npiL_border-left-width: 1px;
  --mixin-FiiUyfY_npiL_border-right-color: #dddddd;
  --mixin-FiiUyfY_npiL_border-right-style: solid;
  --mixin-FiiUyfY_npiL_border-right-width: 1px;
  --mixin-FiiUyfY_npiL_border-top-color: #dddddd;
  --mixin-FiiUyfY_npiL_border-top-style: solid;
  --mixin-FiiUyfY_npiL_border-top-width: 1px;
  --mixin-FiiUyfY_npiL_border-bottom-left-radius: 3px;
  --mixin-FiiUyfY_npiL_border-bottom-right-radius: 3px;
  --mixin-FiiUyfY_npiL_border-top-left-radius: 3px;
  --mixin-FiiUyfY_npiL_border-top-right-radius: 3px;
  --mixin-FiiUyfY_npiL_font-family: "Inconsolata";
  --mixin-FiiUyfY_npiL_padding-bottom: 3px;
  --mixin-FiiUyfY_npiL_padding-left: 6px;
  --mixin-FiiUyfY_npiL_padding-right: 6px;
  --mixin-FiiUyfY_npiL_padding-top: 3px;
  --mixin-FiiUyfY_npiL_white-space: pre-wrap;
  --mixin-fvw47bW04D3x_display: flex;
  --mixin-fvw47bW04D3x_flex-direction: column;
  --mixin-fvw47bW04D3x_align-items: stretch;
  --mixin-fvw47bW04D3x_justify-content: flex-start;
  --mixin-fvw47bW04D3x_list-style-position: outside;
  --mixin-fvw47bW04D3x_padding-left: 40px;
  --mixin-fvw47bW04D3x_position: relative;
  --mixin-fvw47bW04D3x_list-style-type: decimal;
  --mixin-fvw47bW04D3x_white-space: pre-wrap;
  --mixin-Ly1DEJl4YFlj_display: flex;
  --mixin-Ly1DEJl4YFlj_flex-direction: column;
  --mixin-Ly1DEJl4YFlj_align-items: stretch;
  --mixin-Ly1DEJl4YFlj_justify-content: flex-start;
  --mixin-Ly1DEJl4YFlj_list-style-position: outside;
  --mixin-Ly1DEJl4YFlj_padding-left: 40px;
  --mixin-Ly1DEJl4YFlj_position: relative;
  --mixin-Ly1DEJl4YFlj_list-style-type: disc;
  --mixin-Ly1DEJl4YFlj_white-space: pre-wrap;
  --mixin-FSpa9Zg9wvyN_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-J6vRspG4ef1A_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-J6vRspG4ef1A_white-space);
  --mixin-jAOlwRMQTnTg_white-space: pre-wrap;
  --plasmic-mixin-h-4_white-space: var(--mixin-jAOlwRMQTnTg_white-space);
  --mixin-xFPkz_yhD_Pg_box-shadow: 0px 0px 0px 3px #007aff80;
  --plasmic-mixin-focus-shadow_box-shadow: var(--mixin-xFPkz_yhD_Pg_box-shadow);
  --mixin-xFPkz_yhD_Pg_white-space: pre-wrap;
  --plasmic-mixin-focus-shadow_white-space: var(
    --mixin-xFPkz_yhD_Pg_white-space
  );
  --mixin-jwXtukyssEL6_white-space: pre-wrap;
  --plasmic-mixin-10-16-padding_white-space: var(
    --mixin-jwXtukyssEL6_white-space
  );
  --mixin-azWUmlxPSvF6_white-space: pre-wrap;
  --plasmic-mixin-6-radius_white-space: var(--mixin-azWUmlxPSvF6_white-space);
  --mixin-F95h77RA31iH_box-shadow: 0px 0px 0px 4px #0095ff80;
  --plasmic-mixin-focus-outline_box-shadow: var(
    --mixin-F95h77RA31iH_box-shadow
  );
  --mixin-F95h77RA31iH_white-space: pre-wrap;
  --plasmic-mixin-focus-outline_white-space: var(
    --mixin-F95h77RA31iH_white-space
  );
  --mixin-26b6_WQF9rRh_box-shadow: 0px 1px 1px 1px #0000001a;
  --plasmic-mixin-extra-small-shadow_box-shadow: var(
    --mixin-26b6_WQF9rRh_box-shadow
  );
  --mixin-26b6_WQF9rRh_white-space: pre-wrap;
  --plasmic-mixin-extra-small-shadow_white-space: var(
    --mixin-26b6_WQF9rRh_white-space
  );
  --mixin-dF9_7EW-j_AC_white-space: pre-wrap;
  --plasmic-mixin-heading-6_white-space: var(--mixin-dF9_7EW-j_AC_white-space);
  --mixin-inTiXhPPRcYE_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-inTiXhPPRcYE_box-shadow
  );
  --mixin-inTiXhPPRcYE_white-space: pre-wrap;
  --plasmic-mixin-medium-shadow_white-space: var(
    --mixin-inTiXhPPRcYE_white-space
  );
  --mixin-YNgZfkYyc4KZ_white-space: pre-wrap;
  --plasmic-mixin-heading-2_white-space: var(--mixin-YNgZfkYyc4KZ_white-space);
  --mixin-61C-s4K3rTks_white-space: pre-wrap;
  --plasmic-mixin-bg-image_white-space: var(--mixin-61C-s4K3rTks_white-space);
  --mixin-7XPBWYOqIuvK_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-7XPBWYOqIuvK_white-space);
  --mixin-dNlC7YLjEt3S_white-space: pre-wrap;
  --plasmic-mixin-dark-section-background_white-space: var(
    --mixin-dNlC7YLjEt3S_white-space
  );
  --mixin-aIalSPTK7WJG_white-space: pre-wrap;
  --plasmic-mixin-content-max_white-space: var(
    --mixin-aIalSPTK7WJG_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-Sw3ohjufIOrP_font-family);
  font-size: var(--mixin-Sw3ohjufIOrP_font-size);
  font-weight: var(--mixin-Sw3ohjufIOrP_font-weight);
  font-style: var(--mixin-Sw3ohjufIOrP_font-style);
  color: var(--mixin-Sw3ohjufIOrP_color);
  text-align: var(--mixin-Sw3ohjufIOrP_text-align);
  text-transform: var(--mixin-Sw3ohjufIOrP_text-transform);
  line-height: var(--mixin-Sw3ohjufIOrP_line-height);
  letter-spacing: var(--mixin-Sw3ohjufIOrP_letter-spacing);
  white-space: var(--mixin-Sw3ohjufIOrP_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-TnLZ72J1hO-L_font-family);
  color: var(--mixin-TnLZ72J1hO-L_color);
  font-size: var(--mixin-TnLZ72J1hO-L_font-size);
  font-weight: var(--mixin-TnLZ72J1hO-L_font-weight);
  letter-spacing: var(--mixin-TnLZ72J1hO-L_letter-spacing);
  line-height: var(--mixin-TnLZ72J1hO-L_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-DIR4ndJezlOB_font-family);
  color: var(--mixin-DIR4ndJezlOB_color);
  font-size: var(--mixin-DIR4ndJezlOB_font-size);
  font-weight: var(--mixin-DIR4ndJezlOB_font-weight);
  letter-spacing: var(--mixin-DIR4ndJezlOB_letter-spacing);
  line-height: var(--mixin-DIR4ndJezlOB_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-o2tyqGtcTQan_font-family);
  color: var(--mixin-o2tyqGtcTQan_color);
  font-size: var(--mixin-o2tyqGtcTQan_font-size);
  font-weight: var(--mixin-o2tyqGtcTQan_font-weight);
  letter-spacing: var(--mixin-o2tyqGtcTQan_letter-spacing);
  line-height: var(--mixin-o2tyqGtcTQan_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-1FrTAXXngIZr_font-family);
  color: var(--mixin-1FrTAXXngIZr_color);
  font-size: var(--mixin-1FrTAXXngIZr_font-size);
  font-weight: var(--mixin-1FrTAXXngIZr_font-weight);
  letter-spacing: var(--mixin-1FrTAXXngIZr_letter-spacing);
  line-height: var(--mixin-1FrTAXXngIZr_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-HK3wvx0ntYCa_font-family);
  color: var(--mixin-HK3wvx0ntYCa_color);
  font-size: var(--mixin-HK3wvx0ntYCa_font-size);
  font-weight: var(--mixin-HK3wvx0ntYCa_font-weight);
  line-height: var(--mixin-HK3wvx0ntYCa_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-XWvoqudYOApu_color);
  padding-left: var(--mixin-XWvoqudYOApu_padding-left);
  border-left: var(--mixin-XWvoqudYOApu_border-left-width)
    var(--mixin-XWvoqudYOApu_border-left-style)
    var(--mixin-XWvoqudYOApu_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-5NYHzsmq3cKM_font-family);
  border-radius: var(--mixin-5NYHzsmq3cKM_border-top-left-radius)
    var(--mixin-5NYHzsmq3cKM_border-top-right-radius)
    var(--mixin-5NYHzsmq3cKM_border-bottom-right-radius)
    var(--mixin-5NYHzsmq3cKM_border-bottom-left-radius);
  padding: var(--mixin-5NYHzsmq3cKM_padding-top)
    var(--mixin-5NYHzsmq3cKM_padding-right)
    var(--mixin-5NYHzsmq3cKM_padding-bottom)
    var(--mixin-5NYHzsmq3cKM_padding-left);
  border-top: var(--mixin-5NYHzsmq3cKM_border-top-width)
    var(--mixin-5NYHzsmq3cKM_border-top-style)
    var(--mixin-5NYHzsmq3cKM_border-top-color);
  border-right: var(--mixin-5NYHzsmq3cKM_border-right-width)
    var(--mixin-5NYHzsmq3cKM_border-right-style)
    var(--mixin-5NYHzsmq3cKM_border-right-color);
  border-bottom: var(--mixin-5NYHzsmq3cKM_border-bottom-width)
    var(--mixin-5NYHzsmq3cKM_border-bottom-style)
    var(--mixin-5NYHzsmq3cKM_border-bottom-color);
  border-left: var(--mixin-5NYHzsmq3cKM_border-left-width)
    var(--mixin-5NYHzsmq3cKM_border-left-style)
    var(--mixin-5NYHzsmq3cKM_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-FiiUyfY_npiL_font-family);
  border-radius: var(--mixin-FiiUyfY_npiL_border-top-left-radius)
    var(--mixin-FiiUyfY_npiL_border-top-right-radius)
    var(--mixin-FiiUyfY_npiL_border-bottom-right-radius)
    var(--mixin-FiiUyfY_npiL_border-bottom-left-radius);
  padding: var(--mixin-FiiUyfY_npiL_padding-top)
    var(--mixin-FiiUyfY_npiL_padding-right)
    var(--mixin-FiiUyfY_npiL_padding-bottom)
    var(--mixin-FiiUyfY_npiL_padding-left);
  border-top: var(--mixin-FiiUyfY_npiL_border-top-width)
    var(--mixin-FiiUyfY_npiL_border-top-style)
    var(--mixin-FiiUyfY_npiL_border-top-color);
  border-right: var(--mixin-FiiUyfY_npiL_border-right-width)
    var(--mixin-FiiUyfY_npiL_border-right-style)
    var(--mixin-FiiUyfY_npiL_border-right-color);
  border-bottom: var(--mixin-FiiUyfY_npiL_border-bottom-width)
    var(--mixin-FiiUyfY_npiL_border-bottom-style)
    var(--mixin-FiiUyfY_npiL_border-bottom-color);
  border-left: var(--mixin-FiiUyfY_npiL_border-left-width)
    var(--mixin-FiiUyfY_npiL_border-left-style)
    var(--mixin-FiiUyfY_npiL_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-fvw47bW04D3x_display);
  flex-direction: var(--mixin-fvw47bW04D3x_flex-direction);
  align-items: var(--mixin-fvw47bW04D3x_align-items);
  justify-content: var(--mixin-fvw47bW04D3x_justify-content);
  list-style-position: var(--mixin-fvw47bW04D3x_list-style-position);
  padding-left: var(--mixin-fvw47bW04D3x_padding-left);
  position: var(--mixin-fvw47bW04D3x_position);
  list-style-type: var(--mixin-fvw47bW04D3x_list-style-type);
  flex-column-gap: var(--mixin-fvw47bW04D3x_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-Ly1DEJl4YFlj_display);
  flex-direction: var(--mixin-Ly1DEJl4YFlj_flex-direction);
  align-items: var(--mixin-Ly1DEJl4YFlj_align-items);
  justify-content: var(--mixin-Ly1DEJl4YFlj_justify-content);
  list-style-position: var(--mixin-Ly1DEJl4YFlj_list-style-position);
  padding-left: var(--mixin-Ly1DEJl4YFlj_padding-left);
  position: var(--mixin-Ly1DEJl4YFlj_position);
  list-style-type: var(--mixin-Ly1DEJl4YFlj_list-style-type);
  flex-column-gap: var(--mixin-Ly1DEJl4YFlj_flex-column-gap);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
}
