.root {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 640px;
  background: #ffffff;
  position: relative;
  min-width: 0;
  border-radius: 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
.freeBox__rY4We {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 16px;
}
.freeBox__zBPrI {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__zBPrI > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zBPrI > :global(.__wab_flex-container) > *,
.freeBox__zBPrI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zBPrI > :global(.__wab_flex-container) > picture > img,
.freeBox__zBPrI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__rwrma {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__rwrma > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__rwrma > :global(.__wab_flex-container) > *,
.freeBox__rwrma > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rwrma > :global(.__wab_flex-container) > picture > img,
.freeBox__rwrma
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__pAnUe:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__awx6J {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__vqQ7U {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__j9STy:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__posj2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-VYT3CU8k-25c);
}
.svg__kapZo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___1GbFp {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___1GbFp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___1GbFp > :global(.__wab_flex-container) > *,
.freeBox___1GbFp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1GbFp > :global(.__wab_flex-container) > picture > img,
.freeBox___1GbFp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.divider__glxC:global(.__wab_instance) {
  position: relative;
}
.divider__yMzAu:global(.__wab_instance) {
  position: relative;
}
.freeBox__koqge {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__koqge > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__koqge > :global(.__wab_flex-container) > *,
.freeBox__koqge > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__koqge > :global(.__wab_flex-container) > picture > img,
.freeBox__koqge
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__mt1F2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__krr33 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.textInput2:global(.__wab_instance) {
  position: relative;
}
.svg__jUwH {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__hlQpZ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.textInput3:global(.__wab_instance) {
  position: relative;
}
.svg__nOvbN {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__gxCi5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___0RPl:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__mdo1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__wxiiV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-fT98I4nMek3C);
}
.divider__i2Lpw:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__vYDhR {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-0U81vTZs--Nk);
  padding: 32px;
}
.text__j10M9 {
  position: relative;
  color: var(--token-VYT3CU8k-25c);
}
