.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-QOTKBU5U2dd3);
  box-shadow: 0px 0px 4px 0px #0000001a;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 8px;
  padding: 0px;
}
.root:hover {
  transform: translateX(0px) translateY(-8px) translateZ(0px);
}
.img__owoCy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 0px;
  width: 283px;
  margin-right: 0px;
  height: 100%;
  max-height: 200px;
  min-height: 0;
  border-radius: 8px 8px 0px 0px;
}
.img__owoCy > picture > img {
  object-fit: cover;
}
.freeBox__mSgYl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 10px;
}
.h6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-rvqSfmjWOZ82);
  font-size: 14px;
  min-width: 0;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  transition-property: all, all, all;
  transition-duration: 0.5s, 0.5s, 0.5s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in;
  -webkit-transition-property: all, all, all;
  -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in;
  -webkit-transition-duration: 0.5s, 0.5s, 0.5s;
  padding: 0px;
}
.headernoTitle {
  display: none;
}
.root:hover .header {
  border-bottom: 2px solid var(--token-rvqSfmjWOZ82);
}
.span {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: var(--token-rvqSfmjWOZ82);
  min-width: 0;
  display: none;
}
.slotTargetTitle {
  font-weight: 700;
  font-size: 24px;
  color: var(--token-jgohepLVeKvh);
}
.slotTargetTitle > *,
.slotTargetTitle > :global(.__wab_slot) > *,
.slotTargetTitle > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetTitle
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetTitle > picture > img,
.slotTargetTitle > :global(.__wab_slot) > picture > img,
.slotTargetTitle > :global(.__wab_slot) > :global(.__wab_slot) > picture > img,
.slotTargetTitle
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  transition-property: all, all;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: ease-in-out, ease-in-out;
  -webkit-transition-property: all, all;
  -webkit-transition-timing-function: ease-in-out, ease-in-out;
  -webkit-transition-duration: 0.5s, 0.5s;
}
.root:hover .slotTargetTitle {
  color: var(--token-rvqSfmjWOZ82);
}
.slotTargetTitle3 {
  font-weight: 700;
  font-size: 24px;
}
.body {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.bodynoTitle {
  padding-top: 16px;
}
.text__e2RuF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.text__ghYUo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: var(--token-pyhDq7s0RTkz);
  min-width: 0;
}
.freeBox__wKxyZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 0px 4px 0px #0000001a;
  border-radius: 8px;
  padding: 10px;
}
.img__oSie2 {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  margin-top: 0px;
  width: 283px;
  margin-right: 0px;
  border-radius: 8px;
}
.img__oSie2 > picture > img {
  object-fit: fill;
}
.header2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 16px 16px 9px;
}
.header2noTitle {
  display: none;
}
.freeBox__ktAsu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetTitle2 {
  font-weight: 700;
  font-size: 24px;
}
.body2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 16px 16px;
}
.body2noTitle {
  padding-top: 16px;
}
.text__btCf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.text__itRzs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: var(--token-pyhDq7s0RTkz);
  min-width: 0;
}
