.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: url("/plasmic/daply_landing/images/backdropDesktop2Png.png") top 0% left 0% / contain no-repeat,
    #ffffff;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    background: url("/plasmic/daply_landing/images/backdropMobile2Png.png") top 0% left 0% / contain no-repeat,
      #ffffff;
  }
}
.freeBox__j2Phk {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  transform: none;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j2Phk {
    width: 100%;
    margin-right: 2px;
    min-width: 0;
  }
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: none;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerHeroSection {
    padding-right: 2px;
    padding-left: 0px;
  }
}
.columns___9DKaa {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: var(--token-t6-EceW3Iy35);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns___9DKaa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  --plsmc-rc-col-gap: 64px;
}
.columns___9DKaa > :global(.__wab_flex-container) > *,
.columns___9DKaa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___9DKaa > :global(.__wab_flex-container) > picture > img,
.columns___9DKaa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.columns___9DKaa > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___9DKaa > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9DKaa {
    width: 100%;
    height: auto;
    flex-direction: row;
    margin-right: 0px;
    padding-right: 20px;
    padding-left: 20px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9DKaa > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9DKaa > :global(.__wab_flex-container) > *,
  .columns___9DKaa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___9DKaa > :global(.__wab_flex-container) > picture > img,
  .columns___9DKaa
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9DKaa > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__o5I62 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___0NcGo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox___0NcGo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___0NcGo > :global(.__wab_flex-container) > *,
.freeBox___0NcGo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0NcGo > :global(.__wab_flex-container) > picture > img,
.freeBox___0NcGo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__b3WXc {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__b3WXc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__b3WXc > :global(.__wab_flex-container) > *,
.freeBox__b3WXc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b3WXc > :global(.__wab_flex-container) > picture > img,
.freeBox__b3WXc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__rlBey {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__rOaoc {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-VYT3CU8k-25c);
  background: #ffffff;
  border-radius: 10px;
  padding: 4px 8px;
}
.text__au9Ub {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-DCdvkuPS_N0b);
}
.text___7S0Dh {
  font-size: 20px;
  color: var(--token-VYT3CU8k-25c);
  line-height: 28px;
}
.freeBox__hvz1X {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__hvz1X > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__hvz1X > :global(.__wab_flex-container) > *,
.freeBox__hvz1X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hvz1X > :global(.__wab_flex-container) > picture > img,
.freeBox__hvz1X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__lzcTl:global(.__wab_instance) {
  position: relative;
}
.svg__eFkT1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___0MlbS {
  height: auto;
}
.svg___1BU3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__iZdsi:global(.__wab_instance) {
  position: relative;
}
.svg___9FT0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__h4Z76 {
  height: auto;
  font-weight: 400;
}
.svg__a6QUr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column___240P {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__nl4Wp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.embedHtml__woxf3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  height: 100%;
  min-height: 0;
}
.embedHtml__tL4P0:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  background: var(--token-xNv4NilEXhqh);
  border-radius: 20px;
  padding: 20px;
  border-width: 0px;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__mY8 {
  max-width: var(--token-t6-EceW3Iy35);
  display: flex;
  flex-direction: column;
  height: auto;
}
.freeBox__mY8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__mY8 > :global(.__wab_flex-container) > *,
.freeBox__mY8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mY8 > :global(.__wab_flex-container) > picture > img,
.freeBox__mY8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__p9KU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__mKMsT {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-DCdvkuPS_N0b);
  line-height: 1;
}
.text__ox0E9 {
  font-size: 20px;
  color: var(--token-VYT3CU8k-25c);
  text-align: left;
  line-height: 28px;
}
.freeBox__li3Ns {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__li3Ns > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__li3Ns > :global(.__wab_flex-container) > *,
.freeBox__li3Ns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__li3Ns > :global(.__wab_flex-container) > picture > img,
.freeBox__li3Ns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.columns__gbo8C {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__gbo8C > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  --plsmc-rc-col-gap: 16px;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.columns__gbo8C > :global(.__wab_flex-container) > *,
.columns__gbo8C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__gbo8C > :global(.__wab_flex-container) > picture > img,
.columns__gbo8C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 16px;
}
.columns__gbo8C > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__gbo8C > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__gbo8C > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gbo8C {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gbo8C > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gbo8C > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__r4UGk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  align-items: stretch;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__r4UGk {
    width: 100%;
  }
}
.valueProp__mwUfr:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__umOWr {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-rvqSfmjWOZ82);
}
.column__oroAj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  align-items: stretch;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__oroAj {
    width: 100%;
  }
}
.valueProp__yqk44:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .valueProp__yqk44:global(.__wab_instance) {
    width: auto;
  }
}
.svg__dbmRu {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-rvqSfmjWOZ82);
}
.column__kwl2G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  align-items: stretch;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__kwl2G {
    width: 100%;
  }
}
.valueProp__mpfn1:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ekm {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-rvqSfmjWOZ82);
}
.column__wRwCu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  align-items: stretch;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__wRwCu {
    width: 100%;
  }
}
.valueProp__o8YEi:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .valueProp__o8YEi:global(.__wab_instance) {
    width: auto;
  }
}
.svg__qZbCo {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-rvqSfmjWOZ82);
}
.column__kqdur {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  align-items: stretch;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__kqdur {
    width: 100%;
  }
}
.valueProp__zmdro:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .valueProp__zmdro:global(.__wab_instance) {
    width: auto;
  }
}
.svg__eh5CJ {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-rvqSfmjWOZ82);
}
.column__yZv5J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  align-items: stretch;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__yZv5J {
    width: 100%;
  }
}
.valueProp__wxb7N:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__jv1F {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-rvqSfmjWOZ82);
}
.text__vCzxf {
  height: auto;
}
.logoCloudSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__mYjn0 {
  max-width: var(--token-t6-EceW3Iy35);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  flex-direction: row;
}
.freeBox__mYjn0 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__mYjn0 > :global(.__wab_flex-container) > *,
.freeBox__mYjn0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mYjn0 > :global(.__wab_flex-container) > picture > img,
.freeBox__mYjn0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 64px;
}
.img__gdwV {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__gdwV > picture > img {
  object-fit: cover;
}
.img__jq00 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__jq00 > picture > img {
  object-fit: cover;
}
.img__vvhap {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__vvhap > picture > img {
  object-fit: cover;
}
.img__eiAqk {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__eiAqk > picture > img {
  object-fit: cover;
}
.img___22Fk4 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___22Fk4 > picture > img {
  object-fit: cover;
}
.faqSection:global(.__wab_instance) {
  position: relative;
  height: auto;
}
.freeBox__k1HeW {
  max-width: var(--token-t6-EceW3Iy35);
  display: flex;
  flex-direction: column;
  height: auto;
}
.freeBox__k1HeW > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__k1HeW > :global(.__wab_flex-container) > *,
.freeBox__k1HeW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__k1HeW > :global(.__wab_flex-container) > picture > img,
.freeBox__k1HeW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__r44H5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__pdvtb {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-xNv4NilEXhqh);
  line-height: 1;
}
.accordion2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  font-size: 24px;
  background: #f7f7f7;
  font-weight: 800;
  min-width: 0;
}
.accordionItem__oJeGa:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ckD3O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-xNv4NilEXhqh);
  min-width: 0;
}
.text__n2QXn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 500;
  min-width: 0;
}
.accordionItem___8W7LJ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__aisrO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__kheq5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 500;
  min-width: 0;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
