.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  background: none;
  transition-property: all;
  transition-duration: 0.5s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  padding: 10px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: row;
    background: none;
    padding: 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: row;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.rootscrolled {
  background: #ffffff;
}
.roothamburger_open {
  display: flex;
  flex-direction: column;
}
.roothamburger_open > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.roothamburger_open > :global(.__wab_flex-container) > *,
.roothamburger_open > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.roothamburger_open > :global(.__wab_flex-container) > picture > img,
.roothamburger_open
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 16px;
}
.freeBox__lhmtn {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lhmtn {
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    flex-direction: row;
    display: flex;
    align-self: center;
    min-width: 0;
  }
}
.button__sxVii:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__sxVii:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
    display: none;
  }
}
.buttonhamburger_open__sxViiPKznc:global(.__wab_instance) {
  display: none;
}
.svg__gWtdz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__v9J62 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.hamburger2 {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hamburger2 {
    display: flex;
  }
}
.svg__qa3G2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox__vrHfQ {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  background: none;
  transition-property: all;
  transition-duration: 0.5s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  padding: 10px;
}
.freeBox__vrHfQ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__vrHfQ > :global(.__wab_flex-container) > *,
.freeBox__vrHfQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vrHfQ > :global(.__wab_flex-container) > picture > img,
.freeBox__vrHfQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vrHfQ {
    display: flex;
    flex-direction: column;
    background: none;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vrHfQ > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vrHfQ > :global(.__wab_flex-container) > *,
  .freeBox__vrHfQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vrHfQ > :global(.__wab_flex-container) > picture > img,
  .freeBox__vrHfQ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBoxscrolled__vrHfQxsAja {
  background: #ffffff;
}
.freeBoxhamburger_open__vrHfQpKznc {
  display: none;
}
.freeBox__kqW4U {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: auto;
  margin-left: calc(0px + 16px) !important;
  min-width: auto;
}
.freeBox__kqW4U > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__kqW4U > :global(.__wab_flex-container) > *,
.freeBox__kqW4U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kqW4U > :global(.__wab_flex-container) > picture > img,
.freeBox__kqW4U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kqW4U {
    display: flex;
    flex-direction: column;
    margin-left: calc(0px + 0px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kqW4U > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kqW4U > :global(.__wab_flex-container) > *,
  .freeBox__kqW4U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kqW4U > :global(.__wab_flex-container) > picture > img,
  .freeBox__kqW4U
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__irhcX {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__irhcX {
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    flex-direction: row;
    display: flex;
    align-self: center;
    min-width: 0;
  }
}
.freeBoxhamburger_open__irhcXpKznc {
  display: none;
}
.button__qsoau:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__qsoau:global(.__wab_instance) {
    display: none;
  }
}
.svg___82Rl9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__jaw5L {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__budlI:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__budlI:global(.__wab_instance) {
    display: none;
  }
}
.svg___4XmNf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__jm9O {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___0HHiH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button___0HHiH:global(.__wab_instance) {
    display: none;
  }
}
.svg__iFwY6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__tbNtn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.cmsDataFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: row;
  object-fit: cover;
  position: relative;
  min-width: 0;
  display: none;
  column-gap: 10px;
}
.freeBox__x5S37 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__x5S37 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__x5S37 > :global(.__wab_flex-container) > *,
.freeBox__x5S37 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x5S37 > :global(.__wab_flex-container) > picture > img,
.freeBox__x5S37
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.cmsEntryField:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
}
.link__ppX23:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
  width: auto;
}
.text__st3V0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.link__ngnWm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  display: none;
}
.text__c4IFw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.link__hKv3 {
  position: relative;
  display: none;
}
.link__tkRcX {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-left: calc(0px + 16px) !important;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__tkRcX {
    margin-left: calc(0px + 0px) !important;
  }
}
.svg__lmRv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox__gyUfp {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxhamburger_open__gyUfpPKznc {
  display: flex;
}
.button__uXkkj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__agMfs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__lwBX {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__bHe8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ltgrz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__p6LMj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
